# week10-goodness-of-git-test-poisson-distribution

Use the "Run" button to execute the code.

The Ï‡2 goodness-of-fit test compares expected (theoretical)  frequencies of categories from a population distribution to the  observed (actual) frequencies from a distribution to determine  whether there is a difference between what was expected and what  was observed

In [1]:
!pip install jovian --upgrade --quiet

In [2]:
import jovian

In [3]:
# Execute this to save new versions of the notebook
jovian.commit(project="week10-goodness-of-git-test-poisson-distribution")

[jovian] Updating notebook "yash-kavaiya/week10-goodness-of-git-test-poisson-distribution" on https://jovian.ai
[jovian] Committed successfully! https://jovian.ai/yash-kavaiya/week10-goodness-of-git-test-poisson-distribution

'https://jovian.ai/yash-kavaiya/week10-goodness-of-git-test-poisson-distribution'

In [10]:
url="https://github.com/Yash-Kavaiya/data-analytics-with-python-nptel/blob/main/week-10/P_distribution.xlsx?raw=true"

In [11]:
import pandas as pd
import numpy as np
from scipy import stats
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.9/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.9/site-packages (from openpyxl) (1.1.0)

In [12]:
from urllib.request import urlretrieve
urlretrieve(url, 'P_distribution.xlsx')

('P_distribution.xlsx', <http.client.HTTPMessage at 0x7f02def8cdc0>)

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy
from scipy.stats import chi2
from scipy.stats import poisson

In [19]:
data=pd.read_excel("P_distribution.xlsx")
data

    Arrivals  Frequency
0          0          0
1          1          1
2          2          4
3          3         10
4          4         14
5          5         20
6          6         12
7          7         12
8          8          9
9          9          8
10        10          6
11        11          3
12        12          1

In [20]:
observed_fre=data['Frequency']

In [21]:
total_arrival=600
total_time_period =100
mu=total_arrival/total_time_period

In [22]:
expected_fre =[]
for i in range(len(observed_fre)):
    E_freq=100*poisson.pmf(i,mu)
    expected_fre.append(E_freq)

In [23]:
expected_fre

[0.24787521766663584,
 1.4872513059998145,
 4.461753917999444,
 8.923507835998894,
 13.385261753998332,
 16.062314104797995,
 16.06231410479801,
 13.767697804112569,
 10.32577335308442,
 6.883848902056284,
 4.130309341233764,
 2.2528960043093247,
 1.1264480021546681]

In [24]:
expected_fre_round=[round(elem,2) for elem in expected_fre]
expected_fre_round

[0.25,
 1.49,
 4.46,
 8.92,
 13.39,
 16.06,
 16.06,
 13.77,
 10.33,
 6.88,
 4.13,
 2.25,
 1.13]

In [25]:
df=pd.DataFrame(list(zip(observed_fre,expected_fre_round)),columns=['observed frequency','expected frequency'])
df

    observed frequency  expected frequency
0                    0                0.25
1                    1                1.49
2                    4                4.46
3                   10                8.92
4                   14               13.39
5                   20               16.06
6                   12               16.06
7                   12               13.77
8                    9               10.33
9                    8                6.88
10                   6                4.13
11                   3                2.25
12                   1                1.13

In [26]:
obs_f =[5,10,14,20,12,12,9,8,10]
exp_f=[6.20,8.92,13.39,16.06,16.06,13.77,10.33,6.88,8.39]

In [27]:
scipy.stats.chisquare(obs_f,exp_f)

Power_divergenceResult(statistic=3.2738182931105193, pvalue=0.916017731732134)

In [28]:
from scipy.stats import chi2
chi2.ppf(0.95,7)

14.067140449340169