In [1]:
import pandas as pd
import numpy as np

In [3]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 1.4 MB/s eta 0:00:0000:0100:01
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [4]:
df=pd.read_excel("IBM-313 Marks.xlsx")

In [5]:
df

    S.No.  MTE (25)  Mini Project (25)  Total (50)  ETE (50)  Total
0       1      5.00                 20       25.00      12.0  37.00
1       2     11.05                 20       31.05      26.0  57.05
2       3      8.10                 20       28.10      14.0  42.10
3       4      6.00                 10       16.00      13.0  29.00
4       5     11.35                 20       31.35      17.0  48.35
..    ...       ...                ...         ...       ...    ...
74     75     12.05                 10       22.05      20.0  42.05
75     76     12.25                 10       22.25      28.0  50.25
76     77      1.75                 10       11.75       NaN   0.00
77     78      3.00                 10       13.00       NaN   0.00
78     79      5.80                 10       15.80      12.0  27.80

[79 rows x 6 columns]

In [6]:
df.Total

0     37.00
1     57.05
2     42.10
3     29.00
4     48.35
      ...
74    42.05
75    50.25
76     0.00
77     0.00
78    27.80
Name: Total, Length: 79, dtype: float64

In [7]:
np.mean(df.Total)

46.90632911392405

In [8]:
np.median(df.Total)

45.0

In [9]:
import scipy 
from scipy import stats
stats.mode(df.Total)

ModeResult(mode=0.0, count=2)

In [10]:
df.Total.quantile([0.25, 0.5, 0.75])

0.25    38.000
0.50    45.000
0.75    55.375
Name: Total, dtype: float64

In [11]:
df.Total.quantile(0.9)

69.68

In [12]:
max_value = df.Total.max()
min_value = df.Total.min()

In [13]:
range_value = max_value - min_value